---
# Default rules
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
---
# C++ rules
Language: Cpp

AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty  # Sometimes ok to ignore
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: false
BreakTemplateDeclarations: Yes
DerivePointerAlignment: false
IndentCaseLabels: true
InsertNewlineAtEOF: true
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
RemoveEmptyLinesInUnwrappedLines: true
RemoveSemicolon: true
RequiresClausePosition: SingleLine
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
Standard: c++20
WrapNamespaceBodyWithEmptyLines: Never
...
