build/
cmake-build-*/
.idea/
.vs/
.vscode/

# Ignore any build artifacts within source dir.
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
Makefile
_deps/
Satisfactory3DMap
*.a
*.sln
*.vcxproj
*.filters
*.user
*.dir/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
Win32/
